:root {
	--primary-color: #FF4500	;
	--accent-color: #FF4500;
	--dark-color: #fafafa;
	--light-color: #212121;
}

html, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: var(--dark-color);
	color: var(--light-color);
}

ul.top {
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: row;
	z-index: 100;
	list-style-type: none;
}

ul.top li {
	margin: 0 0.3em;
	padding: 1vmin;
	background-color: var(--dark-color);
	color: var(--light-color);
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;
	border: solid var(--primary-color) 5px;
	transition: 0.5s color, 0.5s border;
	-webkit-transition: 0.5s color, 0.5s border;
}

ul.top li.title {
	font-size: 2.1rem;
}

ul.top li button {
	transition: 0.5s color;
	border: none;
	background-color: transparent;
	color: var(--light-color);
	font-size: 1.8rem;
}

ul.top li:hover {
	color: var(--accent-color);
	border: solid var(--accent-color) 5px;
}

ul.top li:hover button {
	color: var(--accent-color);
}

.frame {
	min-height: 40vh;
	background-attachment: fixed;
	background-size: cover;
	padding: 10em;
}

.frame.cotc, .frame.edite {
	color: var(--dark-color);
}

.style {
	background-color: var(--dark-color);
	box-shadow: none;
	position: relative;
	z-index: 2;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.2rem;
	line-height: 1.2em;
	text-align: left;
	transition: 0.5s;
	-webkit-transition: 0.5s;
}

.project-title {
	margin-top: 4rem;
	padding: 1.5rem;
	background-color: var(--dark-color);
	color: var(--accent-color);
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8em;
	border: solid var(--accent-color) 5px;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	display: inline-block;
}
